/* header container */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;

}

.header-container {
    background: grey;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

/* search for city container */
.card {
    width: 47%;
    float: left;
    padding: 50px;
    margin: 20px;
}

.dayForecast-card {
    text-align: center;
}

/* .card-body {
    height: 80vh;

} */

/* .result-card {
    height: 40vh;
    float: left;
} */